<!-- <h1>Stacked Chart bar Testing</h1>

<div class="locales">
  <label for="locale-select">Choose locale</label>
  <select #select id="locale-select" (change)="translateService.use(lang)">
    <option *ngFor="let locale of locales">{{ localesMap[locale] }}</option>
  </select>
</div> -->
<!-- 
<h2>current locale is {{ localesMap[currentLocale$ | async] }}</h2> -->
<!-- <p>{{ currentDate | asyncDate: "full" | async }}</p> -->
<div style="text-align: center">
  <a [routerLink]="'/'">Home</a>&nbsp;
  <a [routerLink]="'/contact'" (click)="save()">Language</a>&nbsp;
  <a [routerLink]="'/about'">About</a>&nbsp;
  <a [routerLink]="'/barchart'">Chart</a>&nbsp;
  <a [routerLink]="'/ganalytics'">Analytics</a>
</div>
<br />
<router-outlet></router-outlet>
